<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{../static/css/main.css}"/>
</head>
<body>
<table>
    <tr>
        <th>Методы</th>
        <th>Результат</th>
    </tr>
    <tr>
        <td>
            <button id="button-submit-1">Вывести всех пользователей</button>
        </td>
        <td id="main-output" rowspan="4">

        </td>
    </tr>
    <tr>
        <td>
            <button id="button-submit-2">Вывести все заявки</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="button-submit-3">Вывести все договоры</button>
        </td>
    </tr>
    <tr>
        <td>
            <label for="main-input"></label><input style="" id="main-input" value=""
                                                   placeholder="ФИО, телефон, серия и номер паспорта">
            <button id="button-submit-4">Поиск</button>
        </td>
    </tr>
    <tr>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{../static/js/main.js}"></script>
</body>
</html>