<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{../static/css/main.css}"/>
</head>
<body>
<table>
    <tr>
        <th>Методы</th>
        <th>Результат</th>
    </tr>
    <tr>
        <td>
            <button id="getUsers">Вывести всех пользователей</button>
        </td>
        <td id="main-output" rowspan="4">

        </td>
    </tr>
    <tr>
        <td>
            <button id="getRequests">Вывести все заявки</button>
        </td>
    </tr>
    <tr>
        <td>
            <button id="getContracts">Вывести все договоры</button>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <label for="AllParametersInput"></label>
                <input style="" id="AllParametersInput" value="" placeholder="ФИО, телефон, серия и номер паспорта">
                <button id="AllParametersSearch">Поиск</button>
            </div>
        </td>
    </tr>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{../static/js/main.js}"></script>
</body>
</html>